  # Identifying entries

###  1.Import the necessary packages

In [1]:
import numpy as np  #numpy are imported
import pandas as pd
from geopy.distance import distance
from math import radians, sin, cos, sqrt, asin, atan2

we are going to read the data from the given dataset file.

In [2]:
df=pd.read_csv("C:\\Users\\nshra\\Downloads\\assignment_data.csv")
df

                   name   latitude  longitude
0       kbyJYJzqEVkEmpc  13.022860  77.688911
1       qbgufTPzZEkxNHV  13.093675  77.702779
2       XWIXkuyDacCmsaE  12.902879  77.633207
3      PWMPzEhgQSIJFtLl  12.864532  77.731435
4       PWMPzEhgQSIJFtL  12.865321  77.731473
...                 ...        ...        ...
11809   OtytDvqWIjeFdAt  12.864681  77.561012
11810  PGHxYVTKBPvJzRcr  12.878795  77.549211
11811   PGHxYVTKBPvJzRc  12.879561  77.549147
11812   KlOFLLHNAvTQOkU  13.061351  77.661640
11813   BKEsZzrJiKhKIae  13.019981  77.679988

[11814 rows x 3 columns]

In [3]:
print(df.head())

               name   latitude  longitude
0   kbyJYJzqEVkEmpc  13.022860  77.688911
1   qbgufTPzZEkxNHV  13.093675  77.702779
2   XWIXkuyDacCmsaE  12.902879  77.633207
3  PWMPzEhgQSIJFtLl  12.864532  77.731435
4   PWMPzEhgQSIJFtL  12.865321  77.731473

In [4]:
print(df.shape)

(11814, 3)

### 2.Inserting the another column for output

In [5]:
df.insert(3,"is_similar",0)

### 3.Claculating Haversine formula to calculate distance between two coordinates

In [6]:
from Levenshtein import distance

# Haversine formula to compute distance between two points on Earth
def haversine(lat1, lon1, lat2, lon2):
    R = 6371000  # radius of Earth in meters
    phi1, phi2 = radians(lat1), radians(lat2)
    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) ** 2 + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

### 4.Finding coordinates i.e matching different coordinates

In [7]:




# Find potential matches
matches = []
for i in range(len(df)):
    for j in range(i+1, len(df)):
        if haversine(df['latitude'][i], df['longitude'][i], df['latitude'][j], df['longitude'][j]) <= 200:
            if distance(df['name'][i], df['name'][j]) <= 5:
                matches.append((i, j))

# Add a column to the DataFrame indicating if each row is part of a match
df['is_similar'] = 0
for i, j in matches:
    df.loc[i, 'is_similar'] = 1
    df.loc[j, 'is_similar'] = 1

# Output the matches
print(df)

                   name   latitude  longitude  is_similar
0       kbyJYJzqEVkEmpc  13.022860  77.688911           0
1       qbgufTPzZEkxNHV  13.093675  77.702779           0
2       XWIXkuyDacCmsaE  12.902879  77.633207           0
3      PWMPzEhgQSIJFtLl  12.864532  77.731435           1
4       PWMPzEhgQSIJFtL  12.865321  77.731473           1
...                 ...        ...        ...         ...
11809   OtytDvqWIjeFdAt  12.864681  77.561012           0
11810  PGHxYVTKBPvJzRcr  12.878795  77.549211           1
11811   PGHxYVTKBPvJzRc  12.879561  77.549147           1
11812   KlOFLLHNAvTQOkU  13.061351  77.661640           0
11813   BKEsZzrJiKhKIae  13.019981  77.679988           0

[11814 rows x 4 columns]

### 5.Output file

In [8]:
df.to_csv('output.csv', index=False)